/*Einbinung einer externen freien Schriftart */

@font-face {			/*Source: https://www.1001fonts.com/drummon-font.html */
    font-family: 'Drummon 3D';
    src: url('assets/fonts/Drummon3D.eot');
    src: url('assets/fonts/Drummon3D.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Drummon3D.woff2') format('woff2'),
        url('assets/fonts/Drummon3D.woff') format('woff'),
        url('assets/fonts/Drummon3D.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {			/*Source: https://www.1001fonts.com/drummon-font.html */
    font-family: 'Drummon';
    src: url('assets/fonts/Drummon-Bold.eot');
    src: url('assets/fonts/Drummon-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Drummon-Bold.woff2') format('woff2'),
        url('assets/fonts/Drummon-Bold.woff') format('woff'),
        url('assets/fonts/Drummon-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



body{
	text-align:center;
	font-size:15px;
	font-family: 'Drummon'!important;
	color:#000000;
	background: url("assets/background.png"); /*Source: Photo by Element5 Digital from Pexels URL: https://www.pexels.com/photo/led-light-signage-1293269/ */
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
	margin: 0!important;
	top:0;
	left: 0;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

title{
	font-size:200%;
}

#rankingname{
	background: white;
	display:none;
	top:70%;
	border: solid;
	border-color: green;
	position: absolute!Important;
	font-size: 30px;
	text-align: center;
	color:green;
	font:Drummon!Important
}




::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: green;
    opacity: 1; /* Firefox */
}
#highscoreInfo{
	background: green;
	
	top:60%;
	border: solid;
	border-color: green;
	position: absolute!Important;
	font-size: 20px;
	display: none;
	text-align: center;
	color:white;
	font:Drummon!Important
}
#enterMessage{
	background: green;
	
	top:80%;
	border: solid;
	border-color: green;
	position: absolute!Important;
	font-size: 20px;
	display: none;
	text-align: center;
	color:white;
}
#gameMenu, .highscoreOuterContainer, #deathMenu{
	background: #000000;
	width: 400px;
	height: 560px;
	color: forestgreen;
	font-size: 46px;
}

#game_div{
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.highscoreInnerContainer{
	font-size: 36px;
}

.scoreHeader{
	border-bottom: 3px solid forestgreen!important;
}

.highscorePositionContainer{
	width: 10%;
	float: left;
}

.highscoreNameContainer{
	width: 45%;
	float:left;
}

.highscoreScoreContainer{
	width: 45%;
	float:right;
}

.highscoreNameContainer div, 
.highscoreScoreContainer div,
.highscorePositionContainer div{
	padding: 3px 0;
	border-bottom: 1px  solid forestgreen;
}

.backFromHighscore{
	bottom: 5%;
}

.soundOptions{
	width: 100%;
	height: auto;
	position: relative;
	display: block;
	padding-top: 10px; 
}
 
.hidden{
	display: none;
}

.mainMenuBtn{
	position: relative;
	width: 80%;
	height: 40px;
	margin: 0 10%;
	padding: 3px 0;
	
}

.buttonchangecolor:hover /* Eigenschaften beim Überfahren mit der Maus */
    {
    color: white; /* Neue Farbe */
    }


.startBtn{
	top: 30px;
}

.musicBtn{
	top:80px;
}

.soundBtn{
	top:130px;
}

.highscoreBtn{
	top:180px;
}

.difficultyMenu{
	top:230px;	
}

.difficultySelection{
	position: relative;
	width: 100%;
}

.difficultyNumber{
	float: left;
    margin: 15px 8%;
    width: 51px;
    border: 2px solid;
    border-radius: 17px;
}

.difficultySelection .selected{
	background: #89ce97;
}

.musicImage{
    width: 40px;
    height: 40px;
    background: url("assets/soundOff.png") 100% 100% no-repeat;
    background-size: 40px;
    float: right;
    z-index: 9999;
    padding: 5px 0 0 0;
    position: relative;
}

.soundImage{
    width: 40px;
    height: 40px;
    background: url("assets/soundOn.png") 100% 100% no-repeat;
    background-size: 40px;
    float: right;
    z-index: 9999;
    padding: 5px 0 0 0;
    position: relative;
}

#deathMenu{
	background: #000000;
	width: 400px;
	height: 560px;
	z-index: 5;
}

.highscoresBtn{
	top: 120px
}
.retryBtn{
	top: 40px;
}

.backToMenuBtn{
	top: 80px;
}

.whiteTransparent{
	top:0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: #ffffff;
	opacity: 0.3;
}

#title span{
	z-index: 5;
	position: relative;
	font-family: "Drummon";
	font-size: 90px;
	color: #198819;
	text-shadow: rgb(255, 255, 255) 3px 0px 0px, rgb(255, 255, 255) 2.83487px 0.981584px 0px, rgb(255, 255, 255) 2.35766px 1.85511px 0px, rgb(255, 255, 255) 1.62091px 2.52441px 0px, rgb(255, 255, 255) 0.705713px 2.91581px 0px, rgb(255, 255, 255) -0.287171px 2.98622px 0px, rgb(255, 255, 255) -1.24844px 2.72789px 0px, rgb(255, 255, 255) -2.07227px 2.16926px 0px, rgb(255, 255, 255) -2.66798px 1.37182px 0px, rgb(255, 255, 255) -2.96998px 0.42336px 0px, rgb(255, 255, 255) -2.94502px -0.571704px 0px, rgb(255, 255, 255) -2.59586px -1.50383px 0px, rgb(255, 255, 255) -1.96093px -2.27041px 0px, rgb(255, 255, 255) -1.11013px -2.78704px 0px, rgb(255, 255, 255) -0.137119px -2.99686px 0px, rgb(255, 255, 255) 0.850987px -2.87677px 0px, rgb(255, 255, 255) 1.74541px -2.43999px 0px, rgb(255, 255, 255) 2.44769px -1.73459px 0px, rgb(255, 255, 255) 2.88051px -0.838247px 0px;
}

.containerRechtliches{
position: absolute; 
bottom: 20px; 
left: 20px; 
z-index: 5;
font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-height : 850px)  {

	#title span{
		font-size: 65px;

	}

	#title{
		margin-top:3px;
	}
 }