body{
	text-align:center;
	font-size:15px;
	font-family:Arial;
	color:#000000;
	background: linear-gradient(#709084 , rgb(176, 222, 190) );
}

title{
	font-size:200%;
}

#gameMenu{
	background: #000000;
	width: 400px;
	height: 560px;
}

#game_div{
	position: absolute;
    top: 200px;
    left: 770px;
}

.soundOptions{
	width: 100%;
	height: auto;
	position: relative;
	display: block;
	padding-top: 10px; 
}
 
.hidden{
	display: none;
}

.mainMenuBtn{
	position: relative;
	font-size: 32px;
	width: 80%;
	height: 40px;
	margin: 0 10%;
	padding: 10px 0;
	background: #ffffff;
	color:#000000;
}

.startBtn{
	top: 40px;
}

#deathMenu{
	background: #000000;
	width: 400px;
	height: 560px;
}

.retryBtn{
	top: 40px;
}

.backToMenuBtn{
	top: 80px;
}